DatabasesWorkSpace/testdb/test.dtd

<!ELEMENT Table (ID,name)>
<!ATTLIST Table
  xmlns CDATA #FIXED ''
  name NMTOKEN #REQUIRED>

<!ELEMENT ID ()>
<!ATTLIST ID
  xmlns CDATA #FIXED ''
  type NMTOKEN #REQUIRED>

<!ELEMENT name ()>
<!ATTLIST name
  xmlns CDATA #FIXED ''
  type NMTOKEN #REQUIRED>

<!ELEMENT Record (#PCDATA)>
<!ATTLIST Record
  xmlns CDATA #FIXED ''>

