testdb/hazoma.dtd

<!ELEMENT Table (ID,name,age)>
<!ATTLIST Table
  xmlns CDATA #FIXED ''
  name NMTOKEN #REQUIRED>

<!ELEMENT ID (Record,Record)>
<!ATTLIST ID
  xmlns CDATA #FIXED ''
  type NMTOKEN #REQUIRED>

<!ELEMENT name (Record,Record)>
<!ATTLIST name
  xmlns CDATA #FIXED ''
  type NMTOKEN #REQUIRED>

<!ELEMENT age (Record,Record)>
<!ATTLIST age
  xmlns CDATA #FIXED ''
  type NMTOKEN #REQUIRED>

<!ELEMENT Record (#PCDATA)>
<!ATTLIST Record
  xmlns CDATA #FIXED ''>

